

h1{
    color: rgb(8, 7, 34); 
    font-size: 40px; 
    font-weight: normal; 
    line-height: 30px; 
 
    
    text-shadow: 1px 2px 2px #000; 
     
    padding-top: 140px;
    
}

h2 {
    
    color: rgb(8, 7, 34); 
    font-size: 35px; 
    font-weight: normal; 
    line-height: 30px; 
    margin: 10px 0 20px; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    
}

h3 {
    
    color: rgb(8, 7, 34); 
    font-size: 30px; 
    font-weight: normal; 
    line-height: 30px; 
    margin: 10px 0 20px; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    
}


h4 {
    
    color: rgb(8, 7, 34); 
    font-size: 25px; 
    font-weight: normal; 
    line-height: 30px; 
    margin: 10px 0 20px; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    
}


h5 {
    
    color: rgb(8, 7, 34); 
    font-size: 20px; 
    font-weight: normal; 
    line-height: 30px; 
    margin: 10px 0 20px; 
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px; 
    
}

p ul ol { color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 16px; 
    line-height: 32px; 
    margin: 0 0 24px; }


a {  text-decoration: none; }


a:hover { color: #aa230c }
