
.exc-background {
  /* background-color: #282c34; */
 padding:20px;

 
  color: rgb(0, 0, 0);
}

.exc-header {
  line-height: 30px; 
  
    /* background: rgba(5, 97, 128); */
    color: rgb(5, 97, 128);
   
  
    padding: 10px 10px 10px; 
    text-transform: uppercase; 
}


table, th, td {
  border: 1px solid rgb(241, 237, 237);
  text-align: left;
  
}

table {
  width: 100%;
  
  
  
}

th {
  height: 50px;
  background-color:
 
}